#container{
    position: relative;
}


img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
}

#image{
    object-fit: cover;
    position: absolute;
    margin: auto;
    top: 13px;
    left: 13px;
    right: 0;
    bottom: 0;

}

.mat-progress-spinner{
    z-index: 2;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #3fb53f;
}


.spinner-background {
    position: absolute;
    width: 124px;
    height: 124px;
    line-height: 80px;
    text-align: center;
    overflow: hidden;
    border-color: rgba(255, 0, 0, 0.16);
    border-radius: 50%;
    border-style: solid;
    border-width: 13px;
}
