<div fxLayout="column" fxLayoutAlign="center center">

    <div id="container" >
        <div class="spinner-background"></div>
        <mat-progress-spinner
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [diameter]="diameter"
            [value]="completionReady()">
        </mat-progress-spinner>
        <div id="image">
            <img *ngIf="src" [src]="src"/>
            <img *ngIf="!src" src="https://cdn4.iconfinder.com/data/icons/badges-9/66/81-512.png"/>
        </div>
    </div>

    <h1>{{ currentLevel.name }}</h1>
</div>
