<div class="badge-logo">
    <app-hex-image [src]="badge.logo"></app-hex-image>
</div>

<div class="dialog-content" *ngIf="isBadgeStep">
    <div *ngIf="isBadgeStep">
        <h2>{{ badge.badgeContainer.name }} {{ badge.name }}</h2>
        <p>Requiments: </p>


        <div *ngFor="let variable of variablePreconditions" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon [ngStyle]="{'margin-right':'0.3rem'}" *ngIf="variable.satisfied">check</mat-icon>
            <mat-icon [ngStyle]="{'margin-right':'0.3rem'}" *ngIf="!variable.satisfied">close</mat-icon>
            <mat-expansion-panel [ngClass]='{"complete":variable.satisfied,"precondition":true}'>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ numberWithPoints(variable.userValue) }}
                        / {{numberWithPoints(variable.threshold)}} {{ variable.variable }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                You can earn <b>{{ variable.variable }}</b> doing these activities:
                <mat-list>
                    <mat-list-item> Rule Description: +5</mat-list-item>
                    <mat-list-item> Rule Description: +3</mat-list-item>
                    <mat-list-item> Rule Description: +1</mat-list-item>
                    <mat-list-item> Rule Description: +1</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </div>

        <div *ngFor="let precondition of asBadgeStep.preconditions.badgeList" fxLayout="row"
             fxLayoutAlign="start center">
            <mat-icon [ngStyle]="{'margin-right':'0.3rem'}" *ngIf="hasBadge(precondition)">check</mat-icon>
            <mat-icon [ngStyle]="{'margin-right':'0.3rem'}" *ngIf="!hasBadge(precondition)">close</mat-icon>
            <button mat-raised-button *ngIf="getBadgeById(precondition) as badgePrec"
                    [ngClass]='{"complete":hasBadge(precondition),"precondition":true,"badge-precondition":true}'
                    (click)="openBadgePreconditionDialog(badgePrec)">
                {{ badgePrec.badgeContainer.name }} {{ badgePrec.name }}
                <mat-icon>open_in_new</mat-icon>
            </button>
        </div>

    </div>
    <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end center">
        <button id="close-button" mat-raised-button (click)="dialogRef.close()">Close</button>
    </div>
</div>
