.badge-logo {
  position: relative;
  left: calc(50% - 36px);
  bottom: -40px;
  width: 100px;
}

.dialog-content {
  padding: 50px 1rem 1rem;
  background: linear-gradient(to bottom, #3b7dbe 5%, #34495e 100%);
  background-color: #34495e;
  border-radius: 6px;
  //border: 3px  #34495e solid;
  h2 {
    text-align: center;
  }

  box-shadow: inset 0px 1px 0px 0px #cfe9ff;
  border: 1px solid #91c8fd;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  h2 {
    text-shadow: 0px 1px 0px #000000;
  }
}

.precondition {
  background-color: #ff6e6e;
  margin-bottom: 0.3rem;
}

.badge-precondition{
  width: 100%;
  text-align: left;
  mat-icon{
    color: rgba(0,0,0,.87);
    float:right;
    margin-top: 0.3rem;
  }
}

.precondition button{
  width: 100%;
  text-align: left;
  mat-icon{
    color: rgba(0,0,0,.87)
  }
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background: inherit;
}

.complete {
  background-color: #73ff6e;
}



#close-button {
  background-color: red;
  color: white;
}
