<div matRipple>
    <mat-card (click)="openDialog()" fxLayout="row" [ngClass]="{'complete':completed}">
        <div class="badge-logo">
            <app-hex-image [src]="badge.logo"></app-hex-image>
        </div>
        <!--    <div id="date" *ngIf="completed"><label>{{ stringDate }}</label></div>-->
        <div class="location">
            <div >
                <mat-icon *ngIf="badge.aca">home</mat-icon>
                <mat-icon *ngIf="!badge.aca">language</mat-icon>
            </div>
            <label *ngIf="timeframe">{{ timeframe }}</label>
        </div>
        <div class="badge-content" fxLayout="column">
            <h5 [ngStyle]="{'font-family':'Open Sans'}">{{badge.badgeContainer.name}} </h5>
            <h3 [ngStyle]="{'font-family':'Open Sans'}">{{ badge.name }}</h3>
            <app-progress-bar *ngIf="!completed" [value]="badge.completion"></app-progress-bar>
            <h3 *ngIf="completed" [ngStyle]="{'font-family':'Open Sans'}">Earned!</h3>
        </div>
    </mat-card>
</div>
