
.mat-card {
  padding: 8px;
  box-shadow:inset 0px 1px 0px 0px #cfe9ff;
  background:linear-gradient(to bottom, #dee2ff 5%, #707bc4 100%);
  background-color:#fff;
  border-radius:6px;
  border:1px solid #3f51b5;
  display:inline-block;
  cursor:pointer;
  color:#000;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  text-decoration:none;
  text-shadow:0px 2px 5px #dadcff;
}


.complete{
  box-shadow:inset 0px 1px 0px 0px #ffe9c2;
  background:linear-gradient(to bottom, #ffffff 5%, #ffb300 100%);
  background-color: #946c00;
  border:1px solid #ffc967;
  text-shadow:0px 2px 5px #ffbf69;
}


.badge-logo {
  margin-right: 1rem;
}

mat-card {
  margin-bottom: 10px;
}

.location{
    position: absolute;
    top: 1px ;
    right: 4px;
    font-size: 11px;
    color: #7a7a7a;
    text-align: right;

    .mat-icon{
        font-size: 22px;
        vertical-align: bottom;
    }
}



#date{
  position: absolute;
  top: -1px ;
  right: 3px;
  font-size: 11px;
}


h5{
    margin-bottom: 0px;
    margin-top: 1rem;
}

h3{
    margin-bottom: 0.3rem;
}

