<div fxLayout="column" class="date-block">
    <div class="date-container">
        <div class="date-background "><span>{{ dateLogs.dateString }}</span></div>
    </div>
    <mat-accordion id>
        <app-entry-log *ngFor="let log of dateLogs.getLogs()" [log]="log" class="entry">
        </app-entry-log>
    </mat-accordion>
</div>
