
.date-container{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: #FFFF;
}

.date-background{
    text-align: center;
    border-bottom: 1px solid #3f51b5;
    line-height: 0.1em;
    margin: 10px 0rem 20px;

}

.date-background span {
    background: #FFFF;
    padding: 0 20px;
    font-size: 15px;
    font-weight: bold;
}


.date-block{
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mat-accordion{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
