<div>
    <div fxLayout="column" id="settings">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-form-field>
                <mat-label>Search</mat-label>
                <input matInput [(ngModel)]="searchText">
            </mat-form-field>

            <button mat-stroked-button (click)="openFilters()">
                <mat-icon>filter_list</mat-icon>
                Filters
            </button>
        </div>
    </div>
    <div>
        <div class="badge-container" [ngStyle]="{'margin-top':'10px'}">
            <div fxLayout="column">
                <div *ngFor="let badge of filteredBadgeList">
                    <app-badge-card [badge]="badge" [badgeList]="badgeList" [userProfile]="userProfile" [acaProfile]="acaProfile"></app-badge-card>
                </div>
            </div>
        </div>
    </div>
</div>
