<div>
  <h1 mat-dialog-title>{{ variable.toUpperCase() }}</h1>
  <div mat-dialog-content>
    You can earn <b>{{ variable.toUpperCase() }}</b> doing these activities:
    <mat-list>
      <mat-list-item> Rule Description: +5</mat-list-item>
      <mat-list-item> Rule Description: +3</mat-list-item>
      <mat-list-item> Rule Description: +1</mat-list-item>
      <mat-list-item> Rule Description: +1</mat-list-item>
    </mat-list>
  </div>
</div>
