<div class="progress">
  <div class="progress-outside">
    <div class="progress-inside" [ngStyle]="{'width': this.value + '%'}">
      <span class="val" style="color: inherit;">{{value}}%</span>
    </div>
  </div>
</div>
