/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);*/

body, html {
  background: #2c3e50;
}

.progress{
  /*margin: 50px auto;*/
  /*width: 250px;*/
  /*padding: 20px;*/
  /*background: #34495e;*/
  border-radius: 10px;
  color: #ecf0f1;
    text-shadow:0px 2px 5px #000;
  font-family: "Open Sans";
}


.progress {
  width: 250px;
}

.progress-outside {
  background: #bdc3c7;
  padding: 5px;
  border-radius: 5px;
}

.progress-inside {
  background: #2ecc71;
  border-radius: 3px;
  height: 20px;
  transition: width 1s ease-out;
}

.progress-inside .val {
  padding: 5px;
  position: relative;
  bottom: 1px;
}
