<ng-template #mobile>
    <!--    <mat-drawer-container class="example-container" autosize>-->
    <!--        <mat-drawer #drawer class="example-sidenav" mode="push">-->
    <!--            <app-profile [userProfile]="userProfile" [badgeContainerLevel]="levelsBadgeContainer"></app-profile>-->
    <!--        </mat-drawer>-->
    <!--        <mat-toolbar>-->
    <!--            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"-->
    <!--                    (click)="drawer.toggle()">-->
    <!--                <mat-icon>menu</mat-icon>-->
    <!--            </button>-->
    <!--            <span>CO3 Gamification Profile</span>-->
    <!--        </mat-toolbar>-->
    <!--    </mat-drawer-container>-->
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between center" id="acaSelector">
            <mat-form-field [ngStyle]="{'width':'100%','margin':'0.5rem 1rem'}">
                <mat-label>ACA</mat-label>
                <mat-select [formControl]="acaFormControl">
                    <!--                <mat-option [value]="acaPilot.url">{{acaPilot.name}}</mat-option>-->
                    <mat-option value="pilot">Pilot</mat-option>
                    <mat-option *ngFor="let aca of acaList" [value]="aca.url">{{ aca.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-tab-group mat-stretch-tabs *ngIf="filteredBadgeContainerList && userProfile && acaProfileDict && acaList">
            <mat-tab label="Profile">
                <app-profile [userProfile]="userProfile" [badgeContainerLevel]="levelsBadgeContainer">
                    <app-history [selectedAca]="acaSelected" [variables]="variables"></app-history>
                </app-profile>
            </mat-tab>
            <mat-tab label="Badges">
                <app-badges [badgeContainerList]="filteredBadgeContainerList" [userProfile]="userProfile"
                            [acaProfile]="acaProfile"></app-badges>
            </mat-tab>
            <mat-tab label="Rankings">
                <app-ranking [rankingBadges]="rankingBadgeList" [actor]="userProfile.actor"></app-ranking>
            </mat-tab>
<!--            <mat-tab label="History">-->
<!--                <app-history [selectedAca]="acaSelected" [variables]="variables"></app-history>-->
<!--            </mat-tab>-->
        </mat-tab-group>
    </div>
</ng-template>

<ng-template #desktop>
    <mat-tab-group>
        <mat-tab label="First"> Content 1</mat-tab>
        <mat-tab label="Second"> Content 2</mat-tab>
        <mat-tab label="Third"> Content 3</mat-tab>
        <mat-tab label="Third"> Content 3</mat-tab>
    </mat-tab-group>
</ng-template>


<ng-container *ngTemplateOutlet="windows ? mobile : desktop"></ng-container>
