/*.mat-tab-label{*/
/*  color: white;*/
/*}*/

#acaSelector{
    margin-bottom: -1.25em;
}



.example-container {
    /*border: 1px solid rgba(0, 0, 0, 0.5);*/
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}
