<div class="hex-wrap">
  <div class="hex">
    <div class="hex-inside">
      <img *ngIf="src" [src]="src"/>
      <img *ngIf="!src" src="https://cdn4.iconfinder.com/data/icons/badges-9/66/81-512.png"/>
    </div>
  </div>

</div>
