<div>
    <div id="ranking-info">
        <div fxLayout="row" fxLayoutAlign="space-between center" [ngStyle]="{'width':'100%'}">
            <mat-form-field id="ranking-select" >
                <mat-label>Ranking</mat-label>
                <mat-select [formControl]="rankingBadgeFormControl">
                    <mat-option *ngFor="let rb of rankingBadges" [value]="rb">{{ rb.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-stroked-button *ngIf="selectedRankingBadge"
                    (click)="openVariableInfo()">{{ selectedRankingBadge.variable.toUpperCase() }}
                <mat-icon>info_outline</mat-icon>
            </button>

        </div>
        <div *ngIf="selectedRankingBadge" fxLayout="column" fxLayoutAlign="center center">
            <!--      <label>timeframe: {{ selectedRankingBadge.variable }}</label>-->
            <div fxLayout="row" fxLayoutAlign="space-between center" [ngStyle]="{'width':'100%'}">
                <label>{{ timeframe }}</label>
                <div></div>
                <label>End Date:  {{ endingDate }}</label>
            </div>
        </div>
    </div>
    <div>
        <div class="example-loading-shade"
             *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        </div>
        <table mat-table [dataSource]="rankList">
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>Position</th>
                <td mat-cell *matCellDef="let row">{{row.position}}°</td>
            </ng-container>

            <ng-container matColumnDef="actor-name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let row">{{namesMap[row.actor]}}</td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef>Score</th>
                <td mat-cell *matCellDef="let row">{{row.value}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'user-row':row.actor === actor}"></tr>
        </table>
        <mat-paginator [length]="resultsLength" [pageSize]="10"></mat-paginator>
    </div>
</div>
