
table {
    width: calc(100% - 0.6rem);
    /*background-color: #3b7dbe;*/
    /*color: #ffffff;*/
    margin: 0.3rem;
    border-radius: 6px;
    /*border: 1px solid #91c8fd;*/
    /*box-shadow: inset 0px 1px 0px 0px #cfe9ff;*/
}

.mat-cell {
    /*color: white;*/
    font-family: 'Open Sans';
    /*text-shadow: 0px 2px 5px #000640;*/
}

#ranking-info {
    margin: 0.3rem;
    /*box-shadow: inset 0px 1px 0px 0px #cfe9ff;*/
    /*background: linear-gradient(to bottom, #3b7dbe 5%, #34495e 100%);*/
    /*background-color: #34495e;*/
    /*border-radius: 6px;*/
    /*border: 1px solid #91c8fd;*/
    /*color: #ffffff !important;*/
    font-size: 15px;
    font-weight: bold;
    width: calc(100% - 0.6rem - 2px);
    border-bottom: 1px solid #3f51b5;
}

#ranking-select {
    margin: 1rem 1rem 0px;
}

/*.not-empty-select.mat-selected {*/
/*    color: #fff !important;*/
/*}*/

/*:host /deep/ .mat-select-value-text {*/
/*    color: #fff !important;*/
/*}*/

/*mat-label {*/
/*    color: #fff !important;*/
/*}*/

/*.mat-form-field-appearance-fill .mat-form-field-underline::before {*/
/*    background-color: #fff;*/
/*}*/

#ranking-info label {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.3rem;
    /*color: #ffffff;*/
    font-family: 'Open Sans';
    /*text-shadow: 0px 2px 5px #000640;*/
}

.user-row {
    background-color: #3f51b5 ;
    color: white !important;
}

.user-row .mat-cell,.user-row  .mat-footer-cell{
    color: white !important;
}


#ranking-info button {

    text-align: left;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    /*border: 1px solid #91c8fd;*/
}

#ranking-info button mat-icon {
    float: right;
    margin-top: 0.3rem;
}

