<div>
    <div fxLayout="row" id="settings" fxLayoutAlign="end center">
        <button mat-stroked-button (click)="openFilters()"><mat-icon>filter_list</mat-icon>Filters</button>
<!--        <mat-form-field appearance="fill">-->
<!--            <mat-label>Date range</mat-label>-->
<!--            <mat-date-range-input [rangePicker]="picker">-->
<!--                <input matStartDate placeholder="Start date" [max]="untilDate || today"-->
<!--                       (dateChange)="intervalChanged('from', $event)">-->
<!--                <input matEndDate placeholder="End date" [max]="today" (dateChange)="intervalChanged('until', $event)">-->
<!--            </mat-date-range-input>-->
<!--            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--            <mat-date-range-picker #picker></mat-date-range-picker>-->
<!--        </mat-form-field>-->
    </div>

    <div id="log-list">
        <div infinite-scroll id="log-list-2"
             [scrollWindow]="false"
             [infiniteScrollDistance]=1
             [infiniteScrollUpDistance]=2
             [infiniteScrollThrottle]=300
             (scrolled)="onScrollDown($event)"
             (scrolledUp)="onUp($event)">
            <app-date-logs *ngFor="let dateLogs of dateLogsList" [dateLogs]=dateLogs>
            </app-date-logs>
        </div>
    </div>
    <!--        <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>-->
</div>
