<div id="profile-page">

    <div  *ngIf="userProfile && badgeContainerLevel">
        <app-badge-level [levelsContainer] = badgeContainerLevel [userProfile]="userProfile.getPersona()"></app-badge-level>
    </div>

    <div fxLayout="row" id="variables-top" fxLayoutAlign="space-around center">
        <div class="variable-container" fxLayout="row">
            <mat-icon class="variable-logo" aria-hidden="false" aria-label="Example home icon">star</mat-icon>
            <div class="variable-text">
                <label>{{points}}</label>
            </div>
        </div>

        <div class="variable-container" fxLayout="row">
            <mat-icon class="variable-logo" aria-hidden="false" aria-label="Example home icon">eco</mat-icon>
            <div class="variable-text">
                <label>{{kudos}}</label>
            </div>
        </div>

        <div class="variable-container" fxLayout="row">
            <mat-icon class="variable-logo" aria-hidden="false" aria-label="Example home icon">emoji_events</mat-icon>
            <div class="variable-text">
                <label>5</label>
            </div>
        </div>
    </div>
    <ng-content></ng-content>
</div>
