

#variables-top{
  padding-top: 1rem;
}

.variable-container{
  height: 3rem;
}

.variable-text {
  padding: 0.25rem 0.75rem;
  border-radius: 3.75rem;
  font-size: 1.3rem;
  font-weight: 600;

  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
  height: fit-content;
  padding-left: 2rem;
}

.variable-logo{
  position: relative;
  left:0.75rem;
  top:-0.55rem;
  font-size: 50px;
  z-index: 1;
  color: #6c6c6c;
}

.variable-text label {
  color: transparent;
  background-image: linear-gradient(0deg, #EE82DA 0%, #FEFAFD 100%);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.badge-container{
  margin: 1rem;
}

