/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);


html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*background-color: #2c3e50;*/
  /*color: white;*/
}

.badge-dialog .mat-dialog-container{
  background: inherit;
  box-shadow: inherit;
  color: #000;
}

.variable-info-dialog .mat-dialog-container{
  /*background-color: #34495e;*/

}


/*.mat-primary .mat-option.mat-selected:not(.mat-option-disabled){*/
/*  color: #fff;*/
/*}*/


/*.level-spinner .mat-progress-spinner circle,.level-spinner  .mat-spinner circle{*/
/*    stroke: white;*/
/*}*/

/*.mat-progress-spinner circle, .mat-spinner circle{*/
/*    stroke: white;*/
/*}*/


.mat-progress-spinner circle {
    stroke-linecap: round;
}
