<div>
    <h1 mat-dialog-title>Filters</h1>
    <div mat-dialog-content fxLayout="column">

        <mat-form-field>
            <mat-label>Date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date" [max]="untilDate || today"
                       (dateChange)="intervalChanged('from', $event)">
                <input matEndDate placeholder="End date" [max]="today" (dateChange)="intervalChanged('until', $event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
<!--        <mat-form-field>-->
<!--            <mat-label>ACA</mat-label>-->
<!--            <mat-select [(ngModel)]="aca">-->
<!--                <mat-option>All</mat-option>-->
<!--                <mat-option *ngFor="let aca of acaList" [value]="aca">{{ aca.name }}</mat-option>-->
<!--            </mat-select>-->
<!--        </mat-form-field>-->
        <mat-form-field>
            <mat-label>Variable</mat-label>
            <mat-select [(ngModel)]="variable">
                <mat-option>All</mat-option>
                <mat-option *ngFor="let v of variables" [value]="v">{{ v }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button>No Thanks</button>
        <button mat-button cdkFocusInitial [mat-dialog-close]="data">Ok</button>
    </div>
</div>
