<div>
    <h1 mat-dialog-title>Filter</h1>
    <div mat-dialog-content fxLayout="column">

        <mat-slide-toggle [(ngModel)]="hideCompleted" [color]="'primary'">Hide Completed</mat-slide-toggle>

        <mat-form-field [ngStyle]="{'margin-top':'1rem'}">
            <mat-label>Badge Category</mat-label>
            <mat-select [formControl]="categoryFormControl">
                <mat-option>All</mat-option>
                <mat-option value="individual">Individual</mat-option>
                <mat-option value="aca">Cooperative</mat-option>
                <mat-option value="ranking">Competitive</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field [ngStyle]="{'width':'100%'}">
            <mat-label>Timeframe</mat-label>
            <mat-select [formControl]="timeframeFormControl">
                <mat-option value="WEEK">Weekly</mat-option>
                <mat-option value="MONTH">Monthly</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button>Cancel</button>
        <button mat-button cdkFocusInitial [mat-dialog-close]="data">Ok</button>
    </div>
</div>
