<ng-template #rule>
        <mat-expansion-panel >
            <mat-expansion-panel-header [collapsedHeight]="'2rem'">
                <mat-panel-title>
                    {{log.date | date: 'HH:mm'}}
                </mat-panel-title>
                <mat-panel-description>
<!--                    You gained <span class="reward-text">{{ asRuleLog.rule.rewards[asRuleLog.role][0].assignment }} {{ asRuleLog.rule.rewards[asRuleLog.role][0].name }}</span>-->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Rule Description</p>
            <a mat-raised-button [href]="getActivityUrl()" target="_blank">Show Activity <mat-icon>launch</mat-icon></a>
        </mat-expansion-panel>
</ng-template>

<ng-template #badge >
    <mat-accordion>
        <mat-expansion-panel >
            <mat-expansion-panel-header [collapsedHeight]="'2rem'">
                <mat-panel-title>
                    {{ log.date.getHours() }}:{{ log.date.getMinutes() }}
                </mat-panel-title>
                <mat-panel-description>
                    You earned <span class="reward-text">{{ asBadgeLog.badge.containerReference.name }} - {{ asBadgeLog.badge.name }}</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-raised-button>Badge Info</button>
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>

<ng-container *ngTemplateOutlet="isRuleLog ? rule : badge"></ng-container>
