.mat-expansion-panel-header-title{
    font-size: 12px;
    flex-grow: initial;
    margin-right: 1.5rem;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>*:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
    margin-bottom: 0.3rem;
}

.mat-expansion-panel {
    margin-bottom: 0.3rem;
}

.mat-expansion-panel-header-description{
    text-align: right;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
    background: inherit;
}

.reward-text{
    font-weight: 600;
    margin-left: 5px;
}
